<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post creating</title>
    <link rel="stylesheet" th:href="@{/CSS/style-for-post-creating.css}">
</head>
<body>
   <!--Header!-->
   <div th:replace="/Fragments/AdminHeader :: admin-header"></div>

    <div id="body">
        <!-- nav  -->
        <div th:replace="/Fragments/AdminNav :: admin-nav"></div>


        <div id="content">
            <div id="content-header">
                <img th:src="@{/images/add-post.png}" id="content-header_image">
                <h1 id="content-header_title"> Tạo Bài viết </h1>
            </div>

            <div id="content-category">
                <div id="content-category-header">
                    <img th:src="@{/images/category.png}" id="content-category-header_img">
                    <span id="content-category-header_label">Danh mục bài viết</span>
                </div>

                <div id="content-category-list">
                    <div class="content-category-item">
                        <label class="content-category-item_label">
                            Ngôn ngữ
                        </label>
                        <select class="content-category-item-select" id="language-select" onchange="addCourseToSelect()">
                            <option class="content-category-item-option"   selected disabled value="">Ngôn ngữ</option>
                        </select>
                    </div>

                    <div class="content-category-item">
                        <label class="content-category-item_label">
                            Khóa học
                        </label>
                        <select class="content-category-item-select" id="course-select">
                            <option class="content-category-item-option" selected disabled value="">Khóa học</option>
                        </select>
                    </div>

                    <div class="content-category-item">
                        <label class="content-category-item_label">
                            Nhóm kiến thức
                        </label>
                        <select class="content-category-item-select" id="post-group-select">
                            <option class="content-category-item-option" selected disabled value="">Nhóm kiến thức</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="post">
                <div id="post-title">
                    <img th:src="@{/images/post.png}" id="post-title_img"/>
                    <span id="post-title_span">Mô tả bài viết</span>
                </div>

                <div id="post-header">
                    <div id="post-header-title">
                        <label id="post-header_label">Tiêu đề bài viết</label>
                        <input id="post-header_input" placeholder="Tiêu đề bài viết"/>
                    </div>

                    <div id="post-short-description">
                        <label id="post-short-description_label">Mô tả ngắn</label>
                        <textarea id="post-short-description_area"></textarea>
                    </div>
                </div>

                <div id="post-content">
                    <img id="post-content-new-para" th:src="@{/images/blue-plus.png}" onclick="addNewPara()"/>
                    <div id="post-content-header">
                        <img id="post-content-header_img" th:src="@{/images/post.png}"/>
                        <h4 id="post-content-header_title">Nội dung bài viết</h4>
                    </div>

                    <div class="post-content-item">

                        <div class="post-content-item-header">
                            <h3 class="post-content-item-header_title">Tiêu đề đoạn</h3>
                            <input class="post-content-item-header_input" placeholder="Tên tiêu đề"/>
                        </div>

                        <textarea id="para-content-1" placeholder="Tên tiêu đề" class="para-content"></textarea>
                    </div>
                </div>

                <div id="content-saving">
                    <button id="save-post-btn" onclick="createPost()">Tạo bài viết</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.tiny.cloud/1/9v06nc4f6k6j87g1800vmbs2e3i4wc44ght6y4ce1n3l6vti/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
           selector: '#para-content-1',
           plugins: 'media',
           toolbar: "undo redo | blocks | bold italic | alignleft aligncenter alignright alignjustify | outdent indent"
         });

          tinymce.init({
           selector: '#post-short-description_area'
         });

    </script>
    <script th:src="@{/JS/app-for-post-creating.js}"></script>
</body>
</html>