<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/common-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/styleForCourse.css}">
    <title>Khóa học</title>
</head>
<body>
    <!-- Header  -->
    <div th:replace="/Fragments/header :: header"></div>

    <div th:replace="/Fragments/nav :: nav"></div>


    </d>

    <div class="body">
        <h3 id="message" style= "font-size: 1.4rem;text-align: center;"></h3>
        <div class="course">

            <h2 style="font-size: 1.3rem;" th:if="${#lists.size(courses) < 1}">
                Chưa có bất kì khóa học nào!!
            </h2>
            <div th:each="courseItem : ${courses}" class="course-item"
                 th:onclick="'showCourse(' + ${courseItem.courseId} + ')'">
                <div class="course-item_body">
                        <img src="/images/frontend/bootstrap.jpeg" class="course-item_image">
                        <h4 class="course-item_title" th:text="${courseItem.courseName}"></h4>
                        <p class="course-item_short_description" th:text="${courseItem.shortDescription}">${courseItem.short_description}</p>
                        <div class="course-item-footer">
                            <div class="course-item-footer-user">
                                <img src="/images/user.png" class="course-item-footer-user_image">
                                <span class="course-item-footer-user_quantity"  th:text="${courseItem.quantityOfUser}">${courseItem.quantity_of_user}</span>
                            </div>

                        <p class="course-item-footer_price" th:text="${courseItem.price}">${courseItem.price} VND</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/Js/appforCourse.js}"></script>
</body>
</html>