<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/common-css.css}">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/StyleForCoursePayment.css}">
<head>
    <meta charset="UTF-8">
    <title>Course Payment</title>
</head>
<body>

<!-- Header  -->
    <div th:replace="/Fragments/header :: header"></div>
    <div th:replace="/Fragments/nav :: nav"></div>

    <div class="body">
      <div class="body_top">
          <div class="body-left">
              <img th:src="@{/images/QR.png}" class="body-left_qr">
              <p class="body-left_bank">Ngân hàng: Sacombank</p>
              <p class="body-left_bank-account-name">Tên tài khoản: Kim Ngọc Tân</p>
          </div>
          <div class="body-right">
              <h1 class="body-right_title">Thanh toán</h1>
              <div class="body-right-account-number">
                  <strong class="body-right-account-number_span">Số tài khoản: </strong> 0328869981
              </div>
              <div class="body-right-content">
                <strong class="body-right-content_span">
                    Nội dung:
                </strong>
                  Tên Tài khoản + 12345
              </div>

              <div class="body-right-address">
                <strong class="body-right-address_span">
                    Địa chỉ:
                </strong>
                  <span class="body-right-address_content">Ngân hàng Thương tín Thành phố Hồ Chí Minh</span>
              </div>
              <p class="bottom">
                  <strong>Lưu ý</strong>:  Sau khi chuyển khoản thành công khách hàng vui lòng chờ đợi trong giây  lát để hệ thống xử lí đơn hàng, Liên hệ
                  chúng tôi nếu chưa nhận được khóa học:<strong>0328869981</strong>  hoặc gmail: <strong>tankim071902@gmail.com</strong>
              </p>
          </div>
      </div>

    </div>

    <script th:src="@{/Js/appforCourse.js}"></script>
    <script th:src="@{/Js/ScriptForHeader.js}"></script>
</body>
</html>