<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/common-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/styleForCourse.css}">
    <title>Khóa học</title>
</head>
<body>
    <header>
        <div class="header-left">
            <img th:src="@{/images/logo.png}" class="header-left_logo">
            <a th:href="@{/api/v1/dev_updating/show_home_page}" class="header-left_link">Trang chủ</a>
            <a th:href="@{/api/v1/dev_updating/course/show_course/1}" class="header-left_link">Khóa học</a>
            <a href="#" class="header-left_link">Liên hệ</a>
        </div>

        <div class="header-right">
            <div class="header-right-notify">
                <div class="header-right-notify_img"></div>
            </div>

            <div class="header-right-auth">

                <!-- does not login               -->
                <a href="login-form.html" class="header-right-auth_login">Login</a>

                <!-- Login   -->

                <!--                <div class="header-right-auth-user">-->
                <!--                    <img th:src="@{/images/user.png}" class="header-right-auth-user_image"/>-->
                <!--                    <div class="header-right-auth-user_wrap">-->
                <!--                        <span class="header-right-auth-user_account">tankim1972</span>-->
                <!--                        <img th:src="@{/images/down.png}" class="header-right-auth-user_down"/>-->
                <!--                    </div>-->
                <!--                    &lt;!&ndash; login controller          &ndash;&gt;-->
                <!--                </div>-->
            </div>
        </div>
    </header>
    <nav>
        <div class="nav">
            <ul class="nav-course">

<!--               <li class="nav-course_item">Java</li>-->
<!--                <li class="nav-course_item">PHP</li>-->
<!--                <li class="nav-course_item">Javascript</li>-->
<!--                <li class="nav-course_item">.Net</li>-->
<!--                <li class="nav-course_item">ReactJS</li>-->

            </ul>
        </div>
    </nav>

    <div class="body">
        <div class="course">

        </div>

<!--        <div class="pagination">-->
<!--            <ul class="pagination-list">-->
<!--                <li style="font-family: monospace;font-size: 1.1rem;font-weight: 400; cursor:pointer">Previous</li>-->
<!--                <li class="pagination-list_item">1</li>-->
<!--                <li class="pagination-list_item">2</li>-->
<!--                <li class="pagination-list_item">3</li>-->
<!--                <li style="font-family: monospace;font-size: 1.1rem;font-weight: 400;cursor:pointer">Next</li>-->

<!--            </ul>-->
<!--        </div>-->
    </div>
    <script th:src="@{/Js/appforCourse.js}"></script>
</body>
</html>