<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/login-form-style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/common-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/StyleForHeader.css}">
    <title>Login</title>
</head>
<body>
    <div th:replace="/Fragments/header :: header"></div>

    <div class="form-wrap">
        <form class="login-form" th:action="@{/api/v1/dev_updating/processLoginForm}" th:object="${userLoginDTO}" method="POST">
            <h3 style="text-align:center; font-size: 1.8rem; margin-bottom:20px">Login</h3>
            <div class="account-wrap">
                <input type="text" name="account" id="account" placeholder="User Account" class="login-form_user-account-input input"/>
                <!-- check account error--->
                <div class="error-wrap" id="error-account">
                </div>
            </div>

            <div class="password-wrap">
                <input type="password" id ="password" name="password" placeholder="Password" class="login-form_password-input input"/>
                <img th:src="@{/images/view.png}" id="show-password"/>
                <img th:src="@{/images/hide.png}" id="hide-password"/>
                <!-- check password error--->
                <div class="error-wrap" id ="error-password">
                </div>
            </div>

<!--            <div class="password-wrap">-->
<!--                <input type="text" name="emailCode" th:field="*{emailCode}" placeholder="Email code" class="login-form_password-input input"/>-->
<!--            </div>-->


            <a href="#" style="text-align: right;text-decoration:none;font-family: math;">Quên mật khẩu?</a>

            <button type="button" class="login-form_btn" onclick="login()">Đăng nhập</button>
            <span style="margin-top: 32px;text-align: center;font-family: math;">
                Bạn đã có tài khoản chưa? <a th:href="@{/api/v1/dev_updating/register}">Đăng kí</a>
            </span>
        </form>
    </div>

    <script>

        document.getElementById("show-password").onclick = () => {

            let input = document.querySelector("#password");

            let type = input.type;

            console.log(type);
           if (type === "password") input.type ="text";
           else input.type = "password";
        }

    </script>

    <script th:src="@{/JS/appForUser.js}"></script>
</body>
</html>