<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/login-form-style.css}">
    <title>Login</title>
</head>
<body>
    <a  href="#" class="header">
        <span style="font-size:30px; font-weight:bold">D</span>
        <span>Java</span>
    </a>

    <div class="form-wrap">
        <form class="login-form" th:action="@{/api/v1/dev_updating/processLoginForm}" th:object="${userLoginDTO}" method="POST">
            <h3 style="text-align:center; font-size: 1.8rem; margin-bottom:20px">Login</h3>
            <div th:if="${errorMessage}" class="error-wrap_header">
                <img th:src="@{/images/mark.png}" alt="" sizes="" srcset="" class="error-icon">
                <span
                        th:text="${errorMessage}"
                        class="error"></span>
            </div>
            <div class="account-wrap">
                <input type="text" name="account" th:field="*{account}" placeholder="User Account" class="login-form_user-account-input input"/>
                <!-- check account error--->
                <div class="error-wrap">
                    <img th:if="${#fields.hasErrors('account')}" th:src="@{/images/mark.png}" alt="" sizes="" srcset="" class="error-icon">
                    <span th:errors="*{account}"
                          class="error"></span>
                </div>
            </div>

            <div class="password-wrap">
                <input type="password" name="password" th:field="*{password}" placeholder="Password" class="login-form_password-input input"/>
                <!-- check password error--->
                <div class="error-wrap" th:if="${#fields.hasErrors('password')}">
                    <img th:src="@{/images/mark.png}"
                         class="error-icon">
                    <span
                            th:errors="*{password}"
                            class="error"></span>
                </div>
            </div>

            <div class="password-wrap">
                <input type="text" name="emailCode" th:field="*{emailCode}" placeholder="Email code" class="login-form_password-input input"/>
            </div>


            <a href="#" style="text-align: right;text-decoration:none">Quên mật khẩu?</a>

            <button type="submit" class="login-form_btn">Đăng nhập</button>
            <span style="margin-top: 32px;text-align: center;">
                Bạn đã có tài khoản chưa? <a th:href="@{/api/v1/dev_updating/register}">Đăng kí</a>
            </span>
        </form>
    </div>
</body>
</html>