<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Đăng kí khóa học</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/common-css.css}">
    <link rel="stylesheet" th:href="@{/CSS/styleForRegistrationCourse.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/StyleForHeader.css}">
</head>
<body>

    <!-- Header  -->
    <div th:replace="/Fragments/header :: header"></div>

    <nav>
        <div class="nav">
            <ul class="nav-course">

                <!--               <li class="nav-course_item">Java</li>-->
                <!--                <li class="nav-course_item">PHP</li>-->
                <!--                <li class="nav-course_item">Javascript</li>-->
                <!--                <li class="nav-course_item">.Net</li>-->
                <!--                <li class="nav-course_item">ReactJS</li>-->

            </ul>
        </div>
</nav>

<body>
        <div class="body">

            <div class="body-left">
                <img th:src="@{/images/CourseImages/{imageName}(imageName=${courseResponse.imageName})}" class="body-left_img">
            </div>

            <div class="body-right">
                <h3 class="body-right_title" th:text="${courseResponse.courseName}"></h3>
                <p class="body-right_short_description" th:text="${courseResponse.shortDescription}"></p>

                <div class="body-right-bottom">
                    <div class="body-right-bottom-left">
                        <p class="body-right-bottom_date" th:text="'Ngày Tạo: ' + ${courseResponse.createdAt}"></p>
                        <div class="body-right-bottom-right-user">
                            <img th:src="@{/images/user.png}" class="body-right-bottom-right-user_img">
                            <span class="body-right-bottom-right-user_quantity" th:text="${courseResponse.quantityOfUser}"></span>
                        </div>
                    </div>
                    <div class="body-right-bottom-right">
                        <p class="body-right-bottom-right_pice" th:text="'Giá: ' + ${courseResponse.price} + ' VND'"></p>
                    </div>
                </div>

                <div class="body-right-btn">
                    <a th:href="@{/api/v1/dev_updating/course/process_register_course(user_id=${userId}, course_id=${courseId})}" class="body-right-btn_register">
                        Đăng kí
                    </a>
                </div>
            </div>
        </div>

<span th:text="${courseId}"></span>
</body>
    <script th:src = "@{/JS/common.js}"></script>
</body>
</html>