<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/register.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/common-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/StyleForHeader.css}">
</head>
<body>
    <!-- Header  -->
    <div th:replace="/Fragments/header :: header"></div>

    <div class="form-wrap">
        <form class="form-register" th:action="@{/api/v1/dev_updating/processRegisterForm}" method="post" th:object="${userRegisterDTO}">
            <h1 style="text-align:center; font-size:1.4rem;margin-bottom: 10px;font-family: system-ui;">Register</h1>
           <div th:if="${errorMessage}" class="error-wrap">
               <img th:src="@{/images/mark.png}" alt="" sizes="" srcset="" class="error-icon">
                <span
                      th:text="${errorMessage}"
                      class="error"></span>
           </div>

            <div class="input-wrap">
                <div class="input-wrap_fullname">
                    <input th:field="*{fullname}" class="input" id="fullname" type="text" placeholder="Họ và tên">

                    <!--error hanling-->
                    <div class="error-wrap" id="error-fullname"></div>
                </div>

                <div class="input-wrap_account">
                    <input th:field="*{account}" class="input" id="account" type="text" placeholder="Tài khoản">

                    <!--error hanling-->
                    <div class="error-wrap" id="error-account"></div>
                </div>

                <div class="input-wrap_password">
                    <div class="input input-wrap_password-div">
                        <input th:field="*{password}"  id = "password" type="password" placeholder="Mật khẩu">
                        <img th:src="@{/images/view.png}" class="show-password hide-show-password" id="show-password">
                        <img th:src="@{/images/hide.png}" class="show-password hide-show-password" id="hide-password">
                    </div>
                    <!--error handling-->
                    <div class="error-wrap" id="error-password"></div>
                </div>

                <div class="input-wrap_retype-password">
                    <div class="input input-wrap_password-div">
                        <input th:field="*{retypePassword}" class="retype-password" id ="retype-password" type="password" placeholder="Nhập lại mật khẩu">
                        <img th:src="@{/images/view.png}" class="show-password hide-show-password" id="show-retype-password">
                        <img th:src="@{/images/hide.png}" class="show-password hide-show-password" id="hide-retype-password">
                    </div>
                    <!--error handling-->
                    <div class="error-wrap" id="error-retype-password"></div>
                </div>

                <div class="input-wrap_email">
                    <input th:field="*{email}" class="input" id ="email" type="text" placeholder="Email">
                    <!--error handling-->
                    <div class="error-wrap" id="error-email"></div>
                </div>


            </div>

            <div class="btn-wrap">
                <a th:href="@{/api/v1/dev_updating/login}" class="btn" id="login-btn">Đăng nhập</a>
                <button type="button" class="btn" id="register-btn" onclick="register()">Đăng kí</button>
            </div>
        </form>
    </div>


    <script th:src="@{/JS/appForUser.js}"></script>
</body>
</html>