@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');
 /* common style */
 * {
     padding:0;
     margin:0;
     box-sizing:border-box;
     font-size:16px;
 }

.d-flex {
    display: flex!important;
}

.d-block {
    display: block!important;
}

.d-none {
    display:none!important;
}
.nav {
    background-image: linear-gradient(to right, #14B78A, #85E7CC);
}

.nav-course {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 16px;
}

.nav-course_item {
    margin: 0 8px;
    font-size: 1.2rem;
    color: white;
    font-family: monospace;
    cursor:pointer;
    padding: 2px 10px;
}


.nav-course_item:hover {
    background-color: white;
    border-radius: 12px;
    color: black;
}
 header {
     display: flex;
     flex-direction:row;
     justify-content: space-between;
     align-items: center;
     height: 55px;
 }

 /* style for left header */
 .header-left {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }
 .header-left_logo {
     width:70px;
     height:55px;
 }

 .header-left_link {
    margin: 0 8px;
   text-decoration: none;
   color: black;
   font-weight: bold;
   font-size: 1.2rem;
   font-family: math;
 }


 /* style for right header */

 .header-right-auth {
     margin:0 16px;
 }
 .header-right-auth-user_image {
     width:20px;
 }


 /* style when no auth*/
 .header-right-auth-user {
     display: flex;
     flex-direction: row;
     align-items: center;
 }
 .header-right-auth_login {
     text-decoration: none;
     background-color: #1E90FF;
     color: white;
     padding: 8px 40px;
     border-radius: 20px;
 }

 .header-right-auth-user_wrap {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin: 0px 8px;
 }

 .header-right-auth-user_down {
     width:15px;
     cursor:pointer
 }

 /* end header*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}
.logo_image {
    width:70px;
}

.avatar {
    height:35px;
}

.user-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info-wrap {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.user-info-wrap a{
    text-decoration:none;
}

.active {
    color: #545AF4!important;
    font-weight:bold;
}

/* style for footer */
footer {
    font-size: 1.1rem;
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 16px 0px;
    font-family: cursive;
}

/*end style for foooter*/