* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-size:16px;
}

.header {
    padding:4px 16px;
    cursor:pointer;
    text-decoration:none;
    color:black;
}
.form-wrap {
   height: calc(100vh - 55px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-register {
    border: 1px solid #ccc;
    padding: 30px 16px;
    border-radius: 8px;
}

.input-wrap {
    margin-top:8px;
}
.input{
    padding: 8px;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 4px;
    font-size: 0.9rem;
    margin:8px 0px;
    font-family: system-ui;
}



.btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin:16px 0px;
}
.btn {
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    width:50%;
    text-align:center;
}

#register-btn {
    background: linear-gradient(to left, #DF38F7,#5CCBDC);
    cursor:pointer;
    font-family: system-ui;
}

#login-btn {
    color:black;
    font-family: system-ui;
}


#login-btn:hover {
    color:blue;
}

.error {
    color: red;
    font-size: 0.9rem;
    padding: 0px 8px;
}

.error-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
}
.error-icon {
    width:15px;
}


