@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:16px;
}

/* style for body*/
#body {
    width:1200px;
    max-width:100%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
}


/* style for nav*/
.active {
    font-weight:bold;
    color: #545AF4!important;
}

/* style for content*/
#content {
    width:80%;
    padding: 0px 16px;
    border-left: 1px solid #edebeb;
}

/*style for category*/
#content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#content-header_image {
    height: 40px;
    max-height: 100%;
}

#content-header_title {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 0 8px;
     font-family: "Noto Sans", sans-serif;
}

#content-category {
    margin-top: 32px;
}

#content-category-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:32px;
}

#content-category-header_img {
    height: 24px;
}

#content-category-header_label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 8px;
    font-family: "Noto Sans", sans-serif;
}

#content-category-list {
}

.content-category-item {
    margin: 20px 0px;
}

.content-category-item_label {
    width: 138px;
    max-width:100%;
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
}

.content-category-item-select {
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 12px;
}

/*end style for category*/

/*style for content post*/
#post {
    margin: 32px 0px;
}

#post-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 8px;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    align-items: center;
    margin-bottom:32px;
}

#post-title_img {
    height: 24px;
}

#post-title_span {
    margin: 0px 8px;
    font-size: 1.2rem;
}

#post-header {
    margin: 16px 0px;
}

#post-header-title {
    font-family: "Noto Sans", sans-serif;
    display:flex;
    flex-direction:row;
    align-items:center;
}

#post-header_label {
    font-family: "Noto Sans", sans-serif;
}

#post-header_input {
    border: 1px solid #ccc;
    padding: 6px 8px;
    border-radius: 4px;
    margin: 0px 8px;
    flex:1;
}

#post-short-description {
    margin: 16px 0px;
}

#post-short-description_label {
    font-family: "Noto Sans", sans-serif;
}

#post-short-description_area {
    width: 100%;
    height: 110px;
    max-height: 100%;
    margin-top: 12px;
    border-: 1px solid #ccc;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 8px
}


#post-content {

}

#post-content-new-para {
    width: 30px;
    position: fixed;
    right: 40px;
    bottom: 20%;
    cursor: pointer;
}

#post-short-description {

}

#post-short-description_label {
    display: block;
    margin: 8px 0px;
}

#post-short-description_area {

}

#post-content {
    margin-top: 32px;
}

#post-content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:32px;
}

#post-content-header_img {
    width: 24px;
}

#post-content-header_title {
    margin: 0px 8px;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2rem;
}

.post-content-item {
    margin: 32px 0px;
}

.post-content-item-header {
    display:flex;
    flex-direction: row;
    align-items:center;
    margin: 12px 0px;
}

.post-content-item-header_title {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

.post-content-item-header_input {
    flex: 1;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0px 6px;
}

#para-content-1 {
    margin:12px 0px;
}

#content-saving {
    text-align:right;
}

#save-post-btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: #006ce7;
    color: white;
    font-weight: 600;
    cursor:pointer;
}
