#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    max-width:100%;
    margin: 0 auto;
}

#logo {
    height: 80px;
}

#user-auth {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-avatar {
    width: 30px;
}

#user-info {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    font-family: "Inter", sans-serif;
}

#user-account {
    line-height: 1.4;
}

#user-info-drop-down-icon {
    width: 20px;
    cursor:pointer;
    margin:0px 6px;
}
