<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="header">
        <span style="font-size:30px">D</span>
        <span>Java</span>
    </div>

    <div class="form-wrap">
        <form class="login-form" th:action="@{/api/v1/dev_updating/processLoginForm}" th:object="${userLoginDTO}" method="POST">
            <input type="text" th:field="*{account}" placeholder="User Account" class="login-form_user-account-input"/>
            <input type="text" th:field="*{password}" placeholder="Password" class="login-form_password-input"/>
            <span>Quên mật khẩu?</span>

            <button type="submit" class="login-form_btn">Đăng nhập</button>
        </form>

        <span>
            Bạn đã có tài khoản chưa? <a href="#">Đăng kí</a>
        </span>

    </div>
</body>
</html>